* {
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(221, 221, 221);
}



.a-logo {
    height: auto;

    img {
        display: block;
        width: 70px;
    }
}

.container {
    background-color: white;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0px 16px 20px rgb(150, 150, 150);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 16px;

    h4 {
        width: 100%;
        text-align: left;
        margin-bottom: 16px;
    }

}

img {
    display: block;
}

h1 {
    font-size: 1.5rem;
}

h2 {}

h3 {}

h4 {
    font-size: 1.2rem;
    margin-block: 0.5rem;
}