* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(221, 221, 221);
}

header {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: red;
    box-shadow: 0px 16px 20px rgb(150, 150, 150);

    section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        max-width: 1200px;

        article {
            display: flex;
            align-items: center;
        }

        nav {
            a {
                color: black;
                margin-inline: 8px;
            }
        }
    }
}

.a-logo {
    height: auto;

    img {
        display: block;
        width: 70px;
    }
}


footer {
    display: flex;
    align-items: center;
    padding-block: 16px;
    background-color: red;
    box-shadow: 0px 16px 20px rgb(150, 150, 150);

    section {

        align-items: center;
        width: 100%;
        margin-inline: auto;
        max-width: 1200px;

        &>article {
            margin-block: 1rem;
        }
    }
}