.container {
    background-color: white;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0px 16px 20px rgb(150, 150, 150);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 16px;

    h4 {
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
    }

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &>* {
        margin: 16px;
        flex: 1 0 20%;
        max-width: 300px;
    }
}

ol {
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}