.container {
    background-color: white;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0px 16px 20px rgb(150, 150, 150);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 16px;

    h4 {
        width: 100%;
        text-align: left;
        margin-bottom: 16px;
    }

}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px;
    width: 100%;
    min-width: 250px;

    div {
        display: flex;
        flex-wrap: wrap;

        img {
            display: block;
            width: 280px;
            object-fit: cover;
            object-position: center;
            border-radius: 8px;
            margin: 8px;
        }
    }
}